* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Genericons';
    font-style: normal;
    font-weight: 500;
    src:
      url(/assets/fonts/Genericons.woff) format("woff");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
      url(/assets/fonts/robotocondensed-bold-webfont.woff2) format("woff");
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    src:
      url(/assets/fonts/robotocondensed-regular-webfont.woff2) format("woff");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p {
  font-family: Arial,Helvetica,sans-serif;
}

main {
  margin-top: 100px;
}

.n-bar {
  min-height: 50px;
  
}

.n-bar svg {
  fill: white;
}

.category{
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 8px 25px 9px;
  background-color: rgba(255, 255, 255, 0.753);
  font-size: 1.5rem;
  font-weight: bold;
}

.title {
  font-size: 1.8rem;
  line-height: 24px;
}

.s-tlt {
  font-size: 1.2rem;
}

.n-img {
  width: 100%;

}


